@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./fonts" layer(base);

@layer base {
  /* This will be included in your compiled CSS */
  body {
    font-family: "Montserrat", "Montserrat-fallback";
    /* The value doesn't matter, but you must specify a line-height for all text with custom fonts to avoid CLS */
    line-height: 1.5em;
  }
}

@layer components {
  /* This won't be included in your compiled CSS unless you actually use it */
  .card {
    /* Example please delete in dev */
    background-color: theme("colors.white.DEFAULT");
    border-radius: theme("borderRadius.lg");
    padding: theme("spacing.6");
    box-shadow: theme("boxShadow.xl");
  }
}
