---
import { BASE_URL } from "@/consts"

import MainLayout from "@/layouts/MainLayout.astro"
import ButtonOrLink from "@/components/ui/ButtonOrLink.astro"
import Grid from "@/components/ui/Grid.astro"
import Heading from "@/components/ui/Heading.astro"
import NavLink from "@/components/NavLink.astro"
---

<MainLayout title="Starter Project." description="Welcome to Starter Project!">
    <Grid className="mb-8" sidebarClassName="gap-4">
        <Heading size="h3" tagType="h2">Test heading</Heading>
        <label class="swap swap-flip text-9xl">
  
            <!-- this hidden checkbox controls the state -->
            <input type="checkbox" />
            
            <div class="swap-on">😈</div>
            <div class="swap-off">😇</div>
          </label>
        <div class="flex items-end gap-2">
            <NavLink href={BASE_URL}>Home</NavLink>
            <ButtonOrLink as="a" href="#" variant={"default"} size={"xs"}>xs Default</ButtonOrLink>
            <ButtonOrLink as="button" type="button" variant={"dark"} size={"sm"}>sm Dark</ButtonOrLink>
            <!-- Open the modal using ID.showModal() method -->
            <button class="btn" onclick="my_modal_2.showModal()">open modal</button>
            <dialog id="my_modal_2" class="modal">
                <div class="modal-box">
                    <h3 class="text-lg font-bold">Hello!</h3>
                    <p class="py-4">Press ESC key or click outside to close</p>
                </div>
                <form method="dialog" class="modal-backdrop">
                    <button>close</button>
                </form>
            </dialog>
        </div>
    </Grid>
</MainLayout>
