<!-- Section Cover -->
<section id="cover" class="cover">
    <div class="mycontainer container">
        <div class="row">
            <div class="col-md-8 col-12 left-side">
                <h1 class="wow animate__animated animate__fadeInUp font-700 white" data-wow-delay="0.5s">CNBC Indonesia Awards 2022</h1>
                <p class="wow animate__animated animate__fadeInUp font-400 gold" data-wow-delay="0.75s">Ajang penghargaan kepada para pelaku di berbagai industri yang berhasil beradaptasi dan terus tumbuh di tengah tantangan dan berbagai kondisi yang terjadi.</p>
                <input type="hidden" id="event_date" value="2022/12/12 18:30:00" />
                <p class="wow animate__animated animate__fadeInUp font-400 white location" data-wow-delay="1s">
                    Senin, 12 Desember 2022 <br />Hotel St. Regis, Jakarta
                </p>
                <div class="wow animate__animated animate__fadeIn liveon-box" data-wow-delay="1.25s">
                    <div class="left-side">
                        <span class="liveon-text font-400">LIVE ON</span>
                    </div>
                    <div class="right-side">
                        <img class="logo-cnbctv" src="https://cdn.detik.net.id/minisitev4/cnbcawards2022/images/logo-tv.png" alt="logo-cnbctv" />
                        <span class="liveon-text liveon-tv font-400"> CNBC INDONESIA TV</span>
                        <div class="divider"></div>
                        <span class="liveon-text font-400"> cnbcindonesia.com/awards-live</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 right-side">
                <img class="wow animate__animated animate__fadeIn image-trophy" src="https://cdn.detik.net.id/minisitev4/cnbcawards2022/images/trophy.png" alt="trophy" data-wow-delay="1.25s" />
            </div>
        </div>
    </div>
</section>
<!-- End of Section Cover -->
