---
import { cn } from "@/lib/utils";
interface Props {
  className?: string;
  sidebarClassName?: string;
  mainClassName?: string;
}
const { className, sidebarClassName, mainClassName } = Astro.props;
---

<div class={cn("grid grid-cols-12 gap-6", className)}>
  <div class={cn("col-span-8 grid content-start px-0", mainClassName)}>
    <slot />
  </div>
  <div class={cn("col-span-4 grid content-start gap-6 px-0", sidebarClassName)}>
    <slot name="sidebar" />
  </div>
</div>
